<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Sent Succesfully</title>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    img {
      max-width: 50%;
      height: auto;
      display: block;
    }
  </style>
  <link rel="stylesheet" href="styles/contact.css">
</head>
<body>
  <img src="assets/email.jpg" alt="email sent">
</body>
</html>